body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    margin: 0;
    padding: 25px;
    font-size: 40px;
}

#header-heroes{
    background-color: #00669F;
    height: 101px;
}

#header-descuento-p{
    margin-top: 0;
    padding: 10px;
    font-size: 15px;
}

#header-descuento{
    background-color: #1CD1B0;
    height: 38px;
}

#body-section article{
    width: 300px;
    height: 529px;
    display: inline-block;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#body-section article .perfil{
    border-radius: 50%;
}

#body-section article button{
    display: inline;
}

#footer-derechos{
    background-color: #00669F;
    height: 51px;
}

#footer-derechos p{
    color: white;
    font-size: 16px;
    padding: 15px;
}

div{
    height: 2000px;
}